/*���-�?У�� */
input.error, select.error,textarea.error {
    border-bottom: 1px dotted red;
    /*background-color: #FFB9B9;*/
}

label.error {
    background: url("unchecked.gif") no-repeat 0px 0px;
    padding-left: 16px;
    color: red;
    font-size:12px;
}

label.success {
    background: url("checked.gif") no-repeat 0px 0px;
    padding-left: 16px;
    font-size:12px;
}
