.side {
    z-index: 1000;
    position: relative;
    display: inline;
    float: left;
    margin: 20px 0px 10px 10px;
    width: 160px;
}
.cat {
    position: relative;
    width: 150px;
    color: #3C3C3C;
}
.cat .cat_hd {
    z-index: 2;
    position: relative;
    background: #F40;
    width: 150px;
    height: 39px;
}
.cat .cat_hd a{
    -webkit-backface-visibility: visible;
    color: #3C3C3C;
    cursor: auto;
    display: block;
    font-family: tahoma, arial, 'Hiragino Sans GB', 宋体, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    height: 39px;
    line-height: 18px;
    overflow-x: hidden;
    overflow-y: hidden;
    text-decoration: none;
    width: 150px;
}
.cat .cat_hd h2 {
    -webkit-backface-visibility: visible;
    -webkit-background-clip: border-box;
    -webkit-background-origin: padding-box;
    -webkit-background-size: auto;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-image: url(../images/T1qyj8Fc8aXXc4E9bI-400-300.png);
    background-position: 0px -180px;
    background-repeat: no-repeat;
    background-size: auto;
    color: #3C3C3C;
    cursor: pointer;
    display: block;
    font-family: tahoma, arial, 'Hiragino Sans GB', "宋体", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    height: 0px;
    line-height: 18px;
    margin-bottom: 0px;
    margin-left: 33px;
    margin-right: 33px;
    margin-top: 14px;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 14px;
    text-decoration: none;
    width: 84px;
}
.cat .cat_bd {
    z-index: 2;
    position: relative;
    width: 148px;
    height: 300px;
    border: 1px solid #BBB;
    border-top-width: 0;
    background: #F8F8F8;
}
/*.cat .cat_bd::after {*/
/*content: "";*/
/*display: table;*/
/*clear: both;*/
/*}*/
.cat .cat_bd .cat_line {
    position: absolute;
    top: 0;
    left: -1px;
    width: 150px;
    height: 2px;
    background: #F40;
    overflow: hidden;
    margin: 0;
    padding: 0;
    display: block;
}
.cat .cat_bd .cat_menu {
    z-index: 4;
    position: absolute;
    top: 4px;
    left: -1px;
    width: 150px;
}
/*.cat .cat_bd .cat_menu::after {*/
/*content: "";*/
/*display: table;*/
/*clear: both;*/
/*}*/
ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
}
.cat .cat_bd .cat_menu li {
    cursor: pointer;
    z-index: 2;
    position: relative;
    display: block;
    height: 31px;
    line-height: 31px;
    overflow: hidden;
    margin: 1px 10px 0;
    vertical-align: bottom;
    border-bottom: 1px solid #DEDEDE;
    padding: 0;
    text-align: -webkit-match-parent;
}
.cat .cat_bd .cat_menu .cat_1 i {
    background-position: -120px 0;
}
.cat .cat_bd .cat_menu li i {
    display: inline;
    float: left;
    /*margin: 3px 10px 0 0;*/
    height: 24px;
    width: 30px;
    background-repeat: no-repeat;
    font-style: italic;
}
.cat .cat_bd .cat_menu li.select{
    background-color: #ffffff;
    color: #ff6347;
}
.cat .cat_bd .cat_menu li h3 {
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    display: block;
}
.cat .cat_bd .cat_menu .cat_1 b {
    top: 16px;
}
.cat .cat_bd .cat_menu li b {
    position: relative;
    position: absolute;
    top: 12px;
    left: 120px;
    font-weight: bold;
}
.cat .cat_bd .cat_menu li b em, .cat .cat_bd .cat_menu li b span {
    border-width: 4px 0 4px 4px;
}
.cat .cat_bd .cat_menu li b em, .cat .cat_bd .cat_menu li b span {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-color: rgba(255, 255, 255, 0);
    _filter: chroma(color=tomato);
    border-style: solid;
    overflow: hidden;
}
.cat .cat_bd .cat_menu li.select em{
    /*border-color: #ff6347;*/
    border-left-color: #ff6347;
}
.cat .cat_bd .cat_menu li b em {
    left: 2px;
    border-left-color: #999;
}
address, cite, dfn, em, var {
    font-style: normal;
}
i,cite, em, var, address, dfn {
    font-style: italic;
}

.cat .cat_bd .cat_menu li b span {
    border-left-color: #F8F8F8;
}
.cat .cat_bd .cat_menu .cat_shadow {
    z-index: 1;
    position: absolute;
    left: 2px;
    display: none;
    margin: 0;
    width: 147px;
    border-bottom: 0;
    background: #DFDFDF;
}